<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <app-email-control [formGroup]="form" controlName="email" label="Email"></app-email-control>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button mat-raised-button (click)="onSendEmail()" color="primary" [disabled]="!form.valid">Send</button>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>