.social {
    width: 290px;
}
.hr  {
    width: 100%;
    border: 0;
    height: 1px;
    background: #666;
    margin-left: 5px;
    margin-right: 5px;
}
.provider {
    height: 35px;
    width: auto;
}