<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <mat-card class="example-card">
            <mat-card-header>
                <!-- <div *ngIf="data?.message" mat-card-avatar -->
                <!-- [ngStyle]="{'background-image': 'url(' + data?.message + ')'}" class="example-header-image"></div> -->
                <!-- <mat-card-title [innerHTML]="text?.punchline"></mat-card-title> -->
                <!-- <mat-card-subtitle [innerHTML]="text?.type"></mat-card-subtitle> -->
                <!-- <mat-card-title>Clock</mat-card-title> -->
            </mat-card-header>
            <!-- <img class="dog-image" mat-card-image [src]="data?.message" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <app-analog-clock shape="rectangle"></app-analog-clock>
                <!-- <p [innerHTML]="text?.setup"></p> -->
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-button><mat-icon>favorite</mat-icon></button>
                <button mat-button><mat-icon>share</mat-icon></button>
                <button mat-button (click)="onRefresh()"><mat-icon>refresh</mat-icon></button> -->
            </mat-card-actions>
        </mat-card>
    </div>

</div>